<!DOCTYPE html>
<html>
<head>
   <%- include('../partial/admin-partial/_bootstrap_files.ejs')%>
   <style>
      .navbar {
        background-color: #192537;
      }

      .nav-item {
        color: #4e4719;
      }
    </style>
</head>
<body>
   <%- include('../partial/admin-partial/_admin_nav.ejs')%>
   <!--Table-->
<table class="table table-hover table-fixed">

   <!--Table head-->
   <thead>
     <tr>
       <th>S.NO</th>
       <th>Name</th>
       <th>Email</th>
       <th>Query</th>
       <th>Response</th>
     </tr>
   </thead>
   <!--Table head-->
 
   <!--Table body-->
   <tbody>
      <%
         var sno=1;
         for(var i=0;i< result.length;i++)
         {
      %>
         <tr>
            <td><%=sno++%></td>
            <td><%=result[i].name%></td>
            <td><%=result[i].email%></td>
            <td><%=result[i].query%></td>
            <!-- <td><img src="/admin/images/<%=result[i].cat_img%>"  height="80px" width="150px"></td> /admin/edit/<%=result[i].id%>-->
            <td><a href="/admin/sendresponse/<%=result[i].email%>">Send Response</a></td>
         </tr>
         
      <%
         }
      %>
     
   </tbody>
   <!--Table body-->
 </table>
</body>

</html>