<html>
    <head>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>S.no</th>
                              <th>Image</th>
                              <th>Name</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Date</th>
                              <th>Size</th>
                              <th>Add to Cart</th>
                              <th>Add to favourite</th>
                          </tr>
                      </thead>
                      <tbody>
                         <%
                          let sno = 1;
                          for(product of productList)
                          {
                         %>
                           <tr id="row<%=product.id%>">
                               <td><%=sno++%></td>
                               <td>
                                   <img src="\user\image\Men's\<%=product.p_image%>" width="100px" heigth="100px"/>
                               </td>
                               <td><%=product.p_name%></td>
                               <td><%=product.p_price%></td>
                               <td><%=product.p_qty%></td>
                               <td><%=product.p_date%></td>
                               <td><%=product.p_size%></td>

                               <td>
                               
                                <button class="btn btn-primary">Add to cart</button>
                                 
                               </td>
                               <td>
                                 <button id="delete-button" class="btn btn-danger">Add to favourite</button>
                               </td>
                           </tr> 
                         <%}%>    
                      </tbody>
                      
                  </table>
                </div>
            </div>
        </div>
    </body>
</html>