<head>
  <%- include('../partial/index-partial/_bootstrap_files.ejs')%>
    <link rel="stylesheet" href="../index/style.css">
</head>
<body>
  <!-- Page Content -->
  <%- include('../partial/user-partial/_navigation1.ejs')%>
  <div class="container">
    <div class="row">
      <% for(product of productList) {%>
      <div class="col-lg-3 col-md-5 mt-5 mb-3">
        <div class="card h-100">
          <a href="/user/displayProduct/<%=product.id%>"
            ><img
              class="card-img-top"
              src="/admin/images/<%= product.p_imagefront%>"
              alt=""
              height="400px"
          /></a>
          <div class="card-body">
            <h4 class="card-title" style="font-size: 18px; text-align: center; font-family: philosopherregular; color:#192537;">
              <%= product.p_name%> 
              </h4>
              <h5 style="font-size: 20px; font-weight: 600; text-align: center; font-family: philosopherregular; color:#192537;">&#8377; <%= product.p_price%></h5>
            <!-- <p class="card-text">
              </p> -->
          </div>
          <div class="card-footer">
          <form action="/user/add-to-cart" method="POST">
            <input type="hidden" name="id" value="<%=product.id%>">
            <button type="submit" class="btn btn-primary">Add to Cart</button>
          </form>
         </div>


        </div>
      </div>
      <% } %>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-lg-9 -->

  <!-- /.row -->

  <!-- /.container -->
</body>
