<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partial/index-partial/_bootstrap_files.ejs')%>
    <link rel="stylesheet" href="/index/style.css">
    <link type="text/css" href="/index/magnifier.css" rel="stylesheet">
    <script type="text/javascript" src="/index/js/magnifier.js"></script>
</head>
<body>
    <%- include('../partial/index-partial/_navigation.ejs')%>
 
<section class="product-display">
  <div class="image-slider">
    
    <!-- <div class="product-images">
      <img src="\index\images\indo-western2.jpg" class="active" alt="">
      <img src="\index\images\indo-western3.jpg" alt="">
      <img src="\index\images\indo-western4.jpg" alt="">
      <img src="\index\images\indo-western5.jpg" alt="">
    </div> -->
    <div class="magnifier" style="height: 630px; width: 450px; margin: 0px;">
      <div class="maglens">
        <img class="maglarge" alt="example image" ismap="ismap" usemap="#kaart" src="/admin/images/<%=product[0].p_imagefront%>" style="height:1500px; width:1500px;"/>
      </div>
    </div>
  </div>


  <div class="details">
    <h2 class="product-name" style="font-size: 24px; font-family: philosopherregular; color: #192537;"><%=product[0].p_name%></h2>

  <span class="product-price">&#8377; <%=product[0].p_price%>.00</span>
  <p style="font-size: 12px; padding-bottom: 5px; padding-top: -5px;">( inclusive of all taxes ) </p>
  <h4 style="font-family: philosopherregular; font-size: 18px;">Size Available : <%=product[0].p_size%></h4>
  <hr>
  <a href="/user"> <button class="btn cart-btn">Add to cart</button></a>
  <a href="/user"> <button class="btn wishlist-btn">Add to wishlist</button></a>
  <h4 style="font-family: philosopherregular;">Description </h4>
 <p class="product-desc" style="font-family: philosopherregular;"><%=product[0].description%></p>

</div>
</section>
</body>
</html>